body {
  margin: 0px;
  padding: 0px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header {
    font-family: 'Sigmar One', cursive;
    text-align: center;
    padding-top: 150px;
    font-size: 100px;
    color: #5bb3d3;
}
.page-footer,
.footer-copyright {
    color: black;
    background-color: #5bb3d3;
}

.btn {
    background-color: #5bb3d3;
}

.comment-btn {
    float: right;
}

.post {
    color: grey;
    background-color: white, #bb96f2;
    border-radius: 5px;

}

.submit {
    background-color: lightgrey;
    color: grey;
    border-radius: 15px;
    border: 10px solid grey;
}

.submit-btn {
    margin-bottom: 10px;
}

.sidebar {
    color: grey;

}
.avatar {
    margin: 5px;
    height: 50px;
    width: 50px;
}
.parallax {
    opacity: .4;
}

.card .card-image .card-title {
    color: black;
    text-align: center;

}

.pawcard {

}

main {
  flex: 1 0 auto;
}
